safetensors==0.3.0
datasets==2.10.1
accelerate==0.17.1
triton==2.0.0
protobuf==3.20.2
transformers==4.28.1
scikit-learn==1.0.2
torch==1.13.1
deepspeed==0.9.2
datasets==2.12.0
evaluate==0.4.0
texttable
toml
numpy
sentencepiece